.bounceOutUp-enter-active {
    animation: bounceOutUp-in .5s;
}
.bounceOutUp-leave-active {
    animation: bounceOutUp-in .5s reverse;
}
@keyframes bounceOutUp-in {
    0% {
        transform: translateY(-50px);
    }
    20% {
    //opacity: 1;
        transform: translateY(20px);
    }
    100% {

    //opacity: 0;
        transform: translateY(-10px);
    }
}